@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* To use a color variable use the var() function
        ex. background-color: var(--byui-blue);
    Our colors are defined below.
*/
:root {
    --byui-blue: #0076b6;
    --darkblue: #3b3f40;
    --lightblue: #b1dada;
    --coral: #f76c5f;
    --yellow: #e8be35;
    font-family: "Oxygen", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.button {
    display: inline-block;
    border: 1px solid;
    padding: 1em 2em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

#intro {
}

.WDDdiv {
    padding: 3em 5em;
    padding-bottom: 20vh;
    display: flex;
    flex-wrap: wrap;
}

.welcome {
    justify-content: space-around;
}

/* WDD - Question Title: */
/* "What is Web Design and Development?" */
.titletext {
    font-size: 3rem;
    font-weight: 800;
}
.wdd-qtitle{
    width: auto;
    display: flex;
    flex-wrap: nowrap;
}
/* (End of) WDD - Question Title. */

nav,
#intro,
.WDDdiv {
    background-color: var(--byui-blue);
}

nav {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--darkblue);
    color: var(--lightblue);
    transform: translatey(100%);
    transition: all 0.3s;
}

nav a {
    color: var(--lightblue);
}

nav.open {
    transform: translatey(0%);
}

#nav-toggle {
    position: absolute;
    right: 0rem;
    padding: 0 0.4em;
    padding-top: 0.2em;
    top: -1.4em;
    font-size: 3em;
    background-color: var(--coral);
    border-radius: 50%;
    user-select: none;
    transform: rotate(0deg);
    transition: all 0.3s;
    color: white;
}

nav.open #nav-toggle {
    transform: rotate(180deg);
}

nav ul {
    list-style-type: none;
    text-align: right;
}

nav ul li {
    display: block;
    padding: 0.5em 1em;
}

nav a {
    text-decoration: none;
}

#designdev {
    justify-content: center;
}

#designdev > div {
    padding: 1em 2em;
    background-color: gray;
    margin: 0 10vw;
    margin-top: -15vh;
    width: 25vw;
    min-height: 30vh;
}

.project {
    padding: 1em;
    margin: 0.5em 1em;
}
