@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap");

* {
    box-sizing: border-box;
}

/* To use a color variable use the var() function
        ex. background-color: var(--byui-blue);
    Our colors are defined below.
*/
:root {
    --byui-blue: #0076b6;
    --darkblue: #3b3f40;
    --lightblue: #b1dada;
    --coral: #f76c5f;
    --yellow: #e8be35;
    font-family: "Oxygen", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.button {
    display: inline-block;
    border: 1px solid;
    padding: 1em 2em;
}

<<<<<<< HEAD
.blurbs {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
}

.design {

}

.dev {

=======
#intro {
    display: flex;
    flex-wrap: wrap;
}


.welcome {
    justify-content: space-around;
  }


.titletext{
    font-size: 64px;
    font-weight: 800;
>>>>>>> e32e90c1bcf56aa7fd19e29ce5e432e4656ffcab
}